@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/charts/styles.css";

@tailwind components;
@tailwind utilities;

@layer tailwind {
	@tailwind base;
}

body::-webkit-scrollbar {
	display: none;
}
.star-svg {
	display: inline-block;
}

body {
	background: url("/assets/images/bg.jpg") no-repeat center center fixed !important;
	background-size: cover !important;
}

.glass {
	background: rgba(121, 121, 121, 0.2) !important;
	border-radius: 16px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(10px) !important;
	border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	height: 4px;
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 2px;
	height: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgba(213, 194, 194, 0.613);
}

@keyframes spinAndPulse {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	50% {
		transform: rotate(180deg);
		opacity: 0.5;
		scale: 1.5;
	}
	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}

.mockup {
	animation: spinAndPulse 15s linear infinite;
}
